venv/
ENV/
env/
.venv/


__pycache__/
*.pyc
*.pyo
*.pyd


.env
.env.*
*.env


data.db
*.sqlite3


*.so
*.egg-info/
dist/
build/


*.log


.vscode/
.idea/


.DS_Store
Thumbs.db

Pipfile.lock
poetry.lock
